#root {
  --background-color: #3b683b; 
  --emphasis-color: #d2781f;
  --button-color: #ffffff;
}

div.app {
  background-color: var(--background-color);
  color: var(--button-color);
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  width:100vw;
  height:200vh;
  margin:0;
  padding:0;
  display:flex;

}

div#header-pane {
  position: relative;
  top: 0;
  left: 0;  
  width:100%;
  height:100vh;
  background-image: url('https://raw.githubusercontent.com/dvachette/framework_english_website/refs/heads/main/src/assets/forest.jpg');
}

button.Button {
  background-color:transparent;
  color: var(--button-color);
  display: flex;
  justify-content: center;
  align-items: center;
  border:none;
  height: 2rem;
}
button.Button > p {
  padding-right: 2rem;
}
button.Button > img.ButtonIcon {
  width: 2rem;
  height: 2rem;
}

h1 {
  position:absolute;
  font-size: 7rem;

  text-align: start;
  top: 60%;
  left: 0;
  width: 50%;
  height: 100%;
  margin: auto;
  padding: 1rem;
  font-family: 'Jaro', sans-serif;
}
aside.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: space-evenly;
  width: 10vw;
  height:100%;
}
main {
  width: 100vw;
  background-color:var(--background-color);
  height: 350vh;
  margin:0;
}
main > div#content-pane {
  margin:0 auto;
  width:80vw;
  height:200vh;
  display: grid;
  grid-template-columns: auto auto;
  background-color: var(--background-color);
}
main > div > p {
  padding: 2rem;
  text-align: justify;
}

img.img-round {
  width: 100%;
  height: auto;
  border-radius: 100px;
}