#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

nav#menuNav {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 1rem;
}

nav#menuNav a {
  text-decoration: none;
  color: #000;
  font-size: 1.5rem;
}
nav#menuNav a.active {
  color: #2e7a38;
  font-weight: bold;
}
nav#menuNav a:hover {
  color: #2e7a38;
}

div.menuDiv {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
  background-color: #aeaeae41;
  width: 150px;
  padding-right: 3rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
  padding-left: 2rem;
  border-bottom-right-radius: 50px;
}

