#root {
	--background-color: #3b683b;
	--emphasis-color: #d2781f;
	--button-color: #ffffe1;
}

div.app {
	color: var(--button-color);
	font-family: "Courier New", Courier, monospace;
	font-size: 1.5rem;
	width: 100vw;
	display: flex;
	background-color: var(--background-color);
}

em {
	color: var(--emphasis-color);
	font-weight: bold;
	text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

h3 {
	margin: 0;
	font-size: 3rem;
	font-family: "Jaro", sans-serif;
	text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

li {
	padding-bottom: 5%;
}

.icons {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.icons > a {
	transition: transform 0.3s ease;
}

.icons > img {
	width: 15rem;
}

.icons > a:hover {
	transform: scale(1.05);
}

#bt-donate {
	display: flex;
	align-items: flex-end;
	gap: 10px;
	padding: 10px;
	background-color: var(--emphasis-color);
	color: var(--button-color);
	border: none;
	border-radius: 30px;
	align-content: center;
	font-size: 100%;
	font-family: "Courier New", Courier, monospace;
	font-weight: bold;
	text-decoration: none;
	box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);

	transition: transform 0.2s ease, border-radius 0.3s ease, box-shadow 0.3s ease;
}

#bt-donate:hover {
	border-radius: 20px;
	transform: scale(1.1);
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);
}

.content {
	display: flex;
	flex-direction: column;
	margin-right: 5%;
}

#stories, #support {
	flex-direction: column;
	padding-top: 5%;
}

#stories p, #support p {
	margin-right: 0;
	margin-bottom: 0;
	padding-bottom: 0;
}

div#header-pane {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	background-image: url("https://raw.githubusercontent.com/dvachette/framework_english_website/refs/heads/main/public/forest.jpg");
}

img#woquiez {
  position:relative;
  bottom : 0;
  left : 0;
  width: 15vw;
  border-radius: 8vw;
  }

button.Button {
	background-color: transparent;
	color: var(--button-color);
	display: flex;
	justify-content: center;
	align-items: center;
	border: none;
	height: 2rem;
}

button.Button > img.ButtonIcon {
	width: 2rem;
	height: 2rem;
}

h1 {
	position: absolute;
	font-size: 7rem;
	text-align: start;
	top: 60%;
	left: 3%;
	width: 50%;
	height: 20%;
	margin: auto;
	padding: 1rem;
	font-family: "Jaro", sans-serif;
	text-shadow: 4px 4px 10px rgba(0, 0, 0, 0.6);
	text-decoration: underline 10px solid var(--emphasis-color);
}

#logo > img {
	position: absolute;
	top: 40%;
	left: 2%;
	height: 20vh;
}

aside.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	justify-content: space-evenly;
	padding: 0 3%;
	width: 10vw;
	height: 100%;
}

main {
	width: 100vw;
	height: 650vh;
	background-image: url("https://img.icons8.com/dotty/400/3b6c3b/diagonal-lines.png");
}

main > div#content-pane {
	padding-left: 20%;
	padding-right: 20%;
	background-color: transparent;
}

main > div#footer-pane {
	height: 60vh;
	width: 80%;
	background-color: black;
	display: flex;
	flex-direction: row;
	align-items: top;
	justify-content: space-around;
	padding-right: 10%;
	padding-left: 10%;
}

.item {
	display: flex;
	flex-direction: row;
	height: 100vh;
	align-items: center;
}

img.img-round:hover {
	border-radius: 10px;
	transform: scale(1.1);
	box-shadow: 6px 6px 6px rgba(0, 0, 0, 0.3);
}

p {
	padding: 2rem;
	text-align: justify;
}

img.img-round {
	height: 30%;
	border-radius: 20px;
	box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.2);

	transition: transform 0.3s ease, border-radius 0.3s ease, box-shadow 0.3s ease;
}

button > span.ButtonLabel {
	padding-right: 2rem;
	font-size: 1.5rem;
	font-family: "Courier New", Courier, monospace;
	color: var(--button-color);
	font-weight: bold;
	text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
	text-decoration: none;
	transition: color 0.3s ease;
	cursor: pointer;
	transform: translateX(50%);
	animation: slideOut 0.1s ease-out forwards;
	opacity: 0;
}

button:hover > span.ButtonLabel {
	opacity: 1;
	transform: translateX(0);
	animation: slideIn 0.25s ease-out forwards;
}

@keyframes slideIn {
	from {
		transform: translateX(50%);
		opacity: 0;
	}
	to {
		transform: translateX(0);
		opacity: 1;
	}
}

@keyframes slideOut {
	from {
		transform: translateX(0);
		opacity: 1;
	}
	to {
		transform: translateX(50%);
		opacity: 0;
	}
}

@media (max-width : 1200px) {
	img#woquiez {
		width: 50vw;
		border-radius: 25vw;
	}

	aside.sidebar > Button {
		display: none;
	}

	aside.sidebar {
		height: 98vh;
		flex-direction: column;
		justify-content: flex-end;
	}

	div.item {
		flex-direction: column;
	}

	#logo > img {
		top: 2%;
	}

	h1 {
		font-size: 3rem;
		text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.4);
		top: 50%;
	}

	div.item {
		height: 200vh;
	}

	div.item p {
		margin-top: 0;
		padding-top: 0;
		margin-bottom: 0;
		padding-bottom: 0;
	}

	div.item h3 {
		margin-top: 20%;
	}

	main {
		height: 1150vh;
	}

	h3 {
		text-align: center;
	}

	.content p {
		padding-left: 3%;
		padding-right: 3%;
	}

	.content {
		margin-right: 0;
	}

	main div#content-pane {
		padding-left: 1%;
		padding-right: 1%;
	}

	li {
		margin-top: 5%;
		list-style-type: none;
	}

	ul {
		padding-left: 0;
	}

	.item img {
		width: 90vw;
		height: auto;
	}

	#support {
		margin-top: 20vh;
	}

	main div#footer-pane {
		flex-direction: column;
		height: 150vh;
	}

	.footer-item {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.footer-item h4 {
		margin-bottom: 0;
	}

	.icons {
		align-items: center;
	}

	.icons a {
		width: fit-content;
	}

	.footer-item ul {
		margin-top: 0;
		margin-bottom: 0;
	}
}
